body {
	font-family: Helvetica, Sans-Serif;
}
/*header*/
.header {
	position: fixed;
	background-color: #F6F8F9;
	padding: 20px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 92px;
}
.navigation {
	display: inline-block;
}
.nav-ul {
	vertical-align: middle;
	display: inline-block;
	color: #d6d6c2;
}
.nav-li {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-right: 27px;
}
.text1 {
	color: #A6ADB4;
}
.action {
	color: #343638;
}
.icon1 {
	vertical-align: middle;
	margin-left: 40px;
}

/*section1*/
.section1 {
	margin-top: 70px;
}
.section-1 {
	width: 1160px;
	display: inline-block;
	margin: 0 auto;
}
.h3-1 {
	font-size: 24px;
	font-weight: bold;
	color: #202124;
}
.img-1 {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}
.paragraph-1 {
	display: inline-block;
	position: absolute;
	top: 28px;
	left: 40px;
	z-index: 2;
}