body {
	font-family: Helvetica, Sans-Serif;
	padding-top: 100px;
	background-color: #E2E2E2;
}
/*header*/
.header {
	position: fixed;
	background-color: #F6F8F9;
	padding: 20px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 92px;
}
.navigation {
	display: inline-block;
}
.nav-ul {
	vertical-align: middle;
	display: inline-block;
	color: #d6d6c2;
}
.nav-li {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-right: 27px;
}
.text1 {
	color: #A6ADB4;
}
.action {
	color: #343638;
}
.icon1 {
	vertical-align: middle;
	margin-left: 40px;
}

/*section1*/
.section1 {
	width: 1160px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.sectiondiv1 {
	width: 1200px;
	margin: 0 auto;
}
.section-1 {
	width: 360px;
	height: 350px;
	display: inline-block;
	margin-right: 40px;
}
.section-1-1 {
	width: 360px;
	height: 350px;
	display: inline-block;
}
.h3-1 {
	display: inline-block;
	font-family: Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}
.image-wrapper {
	position: relative;
	width: 360px;
	height: 180px;
}
.paragraph-1 {
	position: absolute;
	display: inline-block;
	top: 28px;
	left: 40px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.div {
	width: 360px;
	height: 180px;
}
.paragraph-2 {
	display: inline-block;
	margin-top: 66px;
	margin-left: 40px;
	color: #A6ADB4;
}
.time {
	margin-top: 10px;
	margin-left: 40px;
	vertical-align: middle;
}
.paragraph-3 {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	vertical-align: middle;
	color: #A6ADB4;
}
.div1 {
	margin-top: 10px;
}
.color {
	background-color: #FFFFFF;
}

/*section2*/
.section2 {
	width: 1160px;
	margin: 0 auto;
}
.div2 {
	width: 1200px;
	height: 920px;
	display: inline-block;
}
.h3-2 {
	font-family: Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	margin-bottom: 40px;
}
.div3 {
	width: 760px;
	height: 900px;
	display: inline-block;
}
.image-wrapper1 {
	width: 760px;
	height: 430px;
	position: relative;
}
.paragraph-4 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	position: absolute;
	top: 20px;
	left: 20px;
}
.img5 {
	margin-top: 40px;
	vertical-align: top;
}
.div4 {
	width: 360px;
	height: 896px;
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}
.img6 {
	margin-bottom: 102px;
}
.img7 {
	margin-bottom: 102px;
}
.img8 {
	margin-bottom: 64px;
}

/*footer*/
.footer {
	margin-top: 110px;
	background-color: #A6ADB4;
}
.footer-padding {
	width: 1160px;
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 40px;
	vertical-align: top;
	margin-left: 142px;
}
.footer-div {
	width: 486.09px;
	display: inline-block;
	vertical-align: top;
}
.firstfooter {
	width: 486.09px;
	display: inline-block;
}
.footer-div1 {
	vertical-align: top;
	display: inline-block;
	margin-left: 50px;
}
.ul {
	font-size: 13px;
	font-weight: bold;
	color: #CBD0D3;
	vertical-align: top;
}
.footer-divparagraph {
	width: 243px;
	display: inline-block;
	vertical-align: top;
}
.footer-paragraph {
	width: 243px;
	display: inline-block;
	font-size: 11px;
	color: #CBD0D3;
	margin-left: 65px;
}
.footer-divicon {
	width: 160px;
	display: inline-block;
	margin-left: 120px;
	vertical-align: top;
}
.icon {
	vertical-align: top;
	margin-right: 30px;
}